<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page doesnt exist</title>
</head>
<body>
    <div  style="margin:0 auto; display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <h1>Oops! Looks like the page doesn't exist</h1>
        <a href="{{ url_for('home') }}"><p>Click Here</a>To go to the Home Page</p>
    </div>
</body>
</html>
