* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

#mainContainer {
    height: auto;
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px auto;
}
h4{
    text-decoration: underline;
}
@media (max-width: 480px){
    #mainContainer {
        height: auto;
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin: 0px auto;
    }
    h1{
        font-size: 1.0rem;
        white-space: nowrap;
        margin-right: 20px;
    }
    a, h6{
        white-space: nowrap;
        font-size: .6rem;
    }
    h4{
        text-decoration: underline;
        white-space: nowrap;
        font-size: .8rem;
    }

}